.calculatrice {
    height: 370px;
    width: 200px;
    background-color: black;
}
#result {
    background-color: white; 
    width: 160px;
    height: 30px;
    margin: 10px;
    font-size: 2em;
}
button {
    height: 75px;
    width: 75px;
    color: grey;
    border-radius: 20%;
    margin: 10px;
    font-size: 3em;
}
input{
    height: 40px;
    width: 140px;
    margin:10px;
}